.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../src/images/back.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.main-page {
  /* Add any styles for the main page container here */
}

.buttons {
  /* Add any styles for the buttons container here */
}

.large-button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 18px;
  margin: 0 10px;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  overflow: hidden;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.large-button::before,
.large-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.3s;
}

.large-button::before {
  background-color: rgba(0, 0, 0, 0.2);
  top: 6px;
  left: 12px; /* Adjust the left positioning */
  transform: translateZ(-1px);
}

.large-button::after {
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 6px;
  right: 12px; /* Adjust the right positioning */
  transform: translateZ(1px);
}

.large-button:hover {
  transform: rotateX(20deg) rotateY(10deg);
}

.large-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.p {
  background-color: rgb(107, 107, 249);
}

.b {
  background-color: rgb(255, 93, 93);
}

.s {
  background-color: rgb(66, 246, 66);
}
